<header><h1>TinyApp</h1></header>
<% if ( !user ) { %>
<a href="/register">Register</a>&nbsp;&nbsp;&nbsp;
<a href="/login">Log In</a>&nbsp;&nbsp;&nbsp;
<% } else { %>
<form method="post" action="/logout">

    <input type="submit" value="Logout">

  </form>
  <% } %>

<a href="/urls">Home</a>&nbsp;&nbsp;&nbsp;
<a href="/urls/new">Short Url</a>