<header><h1>TinyApp</h1></header>

<% if ( !username ) { %>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Sign In">
  </form>

<% } else { %>

  <form method="post" action="/logout">
   <%= username %>
    <input type="submit" value="Logout">

  </form>

<% } %>