<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">

  <% include partials/_header %>

<form method="post" action="/login" style="margin:150px;">
  <h3>Login</h3>
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password">
  <input type="submit" value="Sign In">
  </form>




</body>
</html>