<!DOCTYPE Html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>

    <% include partials/_header %>

    <ul>
      <li><%= longURL  %></li>
      <li><%= shortURL %></li>

    </ul>
    <form action="/urls/<%= shortURL %>" method="post">
      <input type="text" placeholder="updated link" name="longURL">
      <input type="submit" value="update">
    </form>


  </body>
</html>