<!DOCTYPE Html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>

    <% include partials/_header %>

    <ul>
      <li><%=  longURL %></li>
      <li><%= shortURL %></li>

    </ul>



  </body>
</html>